# Trinity Admission Data Preparation <br>


The goal of this data preparation project is to ready the data for constructing a classification model to determine whether an accepted applicant will decide to attend the University, based on information collected regarding the University’s recently accepted applicants, ranging in entry term from Fall 2017, Fall 2018, Fall 2019, Fall 2020, and Fall 2021.  Your final data set should be ready for modeling. 

This script demonstrates how to clean some typical variables for the train dataset and the cleaning requiremens for all variables. 

The train dataset is a subset of the original dataset, which is used to train the model to understand the relationships between variables. Then the trained model will predict the target variable using predictors in the test dataset.

You need to handle all the columns/variables that are not processed in this scirpt following the intrsuctions in the comments.

In [228]:
import pandas as pd
#Read in TU.csv

TU = pd.read_csv("TU.csv")
# pd.set_option('display.max_columns', None)
TU.head(1)

,ID,train-test,Entry Term (Application),Admit Type,Permanent Postal,Permanent Country,Sex,Ethnicity,Race,Religion,...,SAT Concordance Score (of SAT R),ACT Concordance Score (of SAT R),ACT Concordance Score (of SAT),Test Optional,SAT I Critical Reading,SAT I Math,SAT I Writing,SAT R Evidence-Based Reading and Writing Section,SAT R Math Section,Decision
0,1,train,Fall 2017,FY,87507-7944,United States,F,Non Hispanic/Latino,White,Roman Catholic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [229]:
# Display all columns in one output
TU.columns

Index(['ID', 'train-test', 'Entry Term (Application)', 'Admit Type',
       'Permanent Postal', 'Permanent Country', 'Sex', 'Ethnicity', 'Race',
       'Religion', 'First_Source Origin First Source Date', 'Inquiry Date',
       'Submitted', 'Application Source', 'Decision Plan',
       'Staff Assigned Name', 'Legacy', 'Athlete', 'Sport 1 Sport',
       'Sport 1 Rating', 'Sport 2 Sport', 'Sport 2 Rating', 'Sport 3 Sport',
       'Sport 3 Rating', 'Academic Interest 1', 'Academic Interest 2',
       'First_Source Origin First Source Summary', 'Total Event Participation',
       'Count of Campus Visits', 'School #1 Organization Category',
       'School 1 Code', 'School 1 Class Rank (Numeric)',
       'School 1 Class Size (Numeric)', 'School 1 GPA', 'School 1 GPA Scale',
       'School 1 GPA Recalculated', 'School 2 Class Rank (Numeric)',
       'School 2 Class Size (Numeric)', 'School 2 GPA', 'School 2 GPA Scale',
       'School 2 GPA Recalculated', 'School 3 Class Rank (Numeric)',
       'School 3 Class Size (Numeric)', 'School 3 GPA', 'School 3 GPA Scale',
       'School 3 GPA Recalculated', 'ACT Composite', 'ACT English',
       'ACT Reading', 'ACT Math', 'ACT Science Reasoning', 'ACT Writing',
       'SAT I CR + M',
       'SAT R Evidence-Based Reading and Writing Section + Math Section',
       'Permanent Geomarket', 'Citizenship Status', 'Academic Index',
       'Intend to Apply for Financial Aid?', 'Merit Award',
       'SAT Concordance Score (of SAT R)', 'ACT Concordance Score (of SAT R)',
       'ACT Concordance Score (of SAT)', 'Test Optional',
       'SAT I Critical Reading', 'SAT I Math', 'SAT I Writing',
       'SAT R Evidence-Based Reading and Writing Section',
       'SAT R Math Section', 'Decision'],
      dtype='object')

In [230]:
# Divide the dataframe into training and test datasets
# In this course, you will only work on the variables in the training set
# You will need to clean the test set following the methods used in this script, when you work on modeling in later chapter.

TUtrain=TU[TU['train-test']=='train']
TUtest=TU[TU['train-test']=='test']

In [231]:
#Column1 - ID

#Check NAs
TUtrain['ID'].isna().sum()
#No NA,so no cleaning is required. But ID will be removed in the modeling stage. Why?

0

In [232]:
#Column2 - Entry Term Application

#Check NAs
print(TUtrain['Entry Term (Application)'].isna().sum())
#No NA.
TUtrain['Entry Term (Application)'].unique()
#No irregular categories.

0

array(['Fall 2017', 'Fall 2019', 'Fall 2020', 'Fall 2021', 'Fall 2018'],
      dtype=object)

In [233]:
#Column 3 - Admit Type

#Check NAs
print(TUtrain['Admit Type'].isna().sum())
#No NA.
print(TUtrain['Admit Type'].unique())
#No irregular categories.

0
['FY']

In [234]:
#Since the data set only has first years (i.e.,only one category), 
# Admit.Type should be removed.
print(TUtrain['Admit Type'])
TUtrain=TUtrain.drop('Admit Type',axis='columns')
TUtrain.columns

0       FY
1       FY
2       FY
3       FY
4       FY
        ..
9995    FY
9996    FY
9997    FY
9998    FY
9999    FY
Name: Admit Type, Length: 10000, dtype: object

Index(['ID', 'train-test', 'Entry Term (Application)', 'Permanent Postal',
       'Permanent Country', 'Sex', 'Ethnicity', 'Race', 'Religion',
       'First_Source Origin First Source Date', 'Inquiry Date', 'Submitted',
       'Application Source', 'Decision Plan', 'Staff Assigned Name', 'Legacy',
       'Athlete', 'Sport 1 Sport', 'Sport 1 Rating', 'Sport 2 Sport',
       'Sport 2 Rating', 'Sport 3 Sport', 'Sport 3 Rating',
       'Academic Interest 1', 'Academic Interest 2',
       'First_Source Origin First Source Summary', 'Total Event Participation',
       'Count of Campus Visits', 'School #1 Organization Category',
       'School 1 Code', 'School 1 Class Rank (Numeric)',
       'School 1 Class Size (Numeric)', 'School 1 GPA', 'School 1 GPA Scale',
       'School 1 GPA Recalculated', 'School 2 Class Rank (Numeric)',
       'School 2 Class Size (Numeric)', 'School 2 GPA', 'School 2 GPA Scale',
       'School 2 GPA Recalculated', 'School 3 Class Rank (Numeric)',
       'School 3 Class Size (Numeric)', 'School 3 GPA', 'School 3 GPA Scale',
       'School 3 GPA Recalculated', 'ACT Composite', 'ACT English',
       'ACT Reading', 'ACT Math', 'ACT Science Reasoning', 'ACT Writing',
       'SAT I CR + M',
       'SAT R Evidence-Based Reading and Writing Section + Math Section',
       'Permanent Geomarket', 'Citizenship Status', 'Academic Index',
       'Intend to Apply for Financial Aid?', 'Merit Award',
       'SAT Concordance Score (of SAT R)', 'ACT Concordance Score (of SAT R)',
       'ACT Concordance Score (of SAT)', 'Test Optional',
       'SAT I Critical Reading', 'SAT I Math', 'SAT I Writing',
       'SAT R Evidence-Based Reading and Writing Section',
       'SAT R Math Section', 'Decision'],
      dtype='object')

In [235]:
#Column 4 - Permanent Postal
print(TUtrain['Permanent Postal'].isna().sum())
#105 NAs.
TUtrain['Permanent Postal'].unique()
#However, the column "Permanent.Geomarket" had already provided needed information
#regarding the postal codes of different states. Therefore, this column might be
#redundant, and we might just use "Permanent.Geomarket"
#Therefore, let's remove this column and there is no need to handle the missing values
print(TUtrain['Permanent Postal'])
TUtrain=TUtrain.drop('Permanent Postal',axis='columns')
TUtrain.columns

105
0       87507-7944
1       75082-2652
2       77055-6522
3       98607-8571
4       78681-3451
           ...
9995    37122-9228
9996    78732-1709
9997    77459-7207
9998    78015-8370
9999           NaN
Name: Permanent Postal, Length: 10000, dtype: object

Index(['ID', 'train-test', 'Entry Term (Application)', 'Permanent Country',
       'Sex', 'Ethnicity', 'Race', 'Religion',
       'First_Source Origin First Source Date', 'Inquiry Date', 'Submitted',
       'Application Source', 'Decision Plan', 'Staff Assigned Name', 'Legacy',
       'Athlete', 'Sport 1 Sport', 'Sport 1 Rating', 'Sport 2 Sport',
       'Sport 2 Rating', 'Sport 3 Sport', 'Sport 3 Rating',
       'Academic Interest 1', 'Academic Interest 2',
       'First_Source Origin First Source Summary', 'Total Event Participation',
       'Count of Campus Visits', 'School #1 Organization Category',
       'School 1 Code', 'School 1 Class Rank (Numeric)',
       'School 1 Class Size (Numeric)', 'School 1 GPA', 'School 1 GPA Scale',
       'School 1 GPA Recalculated', 'School 2 Class Rank (Numeric)',
       'School 2 Class Size (Numeric)', 'School 2 GPA', 'School 2 GPA Scale',
       'School 2 GPA Recalculated', 'School 3 Class Rank (Numeric)',
       'School 3 Class Size (Numeric)', 'School 3 GPA', 'School 3 GPA Scale',
       'School 3 GPA Recalculated', 'ACT Composite', 'ACT English',
       'ACT Reading', 'ACT Math', 'ACT Science Reasoning', 'ACT Writing',
       'SAT I CR + M',
       'SAT R Evidence-Based Reading and Writing Section + Math Section',
       'Permanent Geomarket', 'Citizenship Status', 'Academic Index',
       'Intend to Apply for Financial Aid?', 'Merit Award',
       'SAT Concordance Score (of SAT R)', 'ACT Concordance Score (of SAT R)',
       'ACT Concordance Score (of SAT)', 'Test Optional',
       'SAT I Critical Reading', 'SAT I Math', 'SAT I Writing',
       'SAT R Evidence-Based Reading and Writing Section',
       'SAT R Math Section', 'Decision'],
      dtype='object')

In [236]:
#Column 5 - Permanent Country
#0 NA.
print(TUtrain['Permanent Country'].isna().sum())
#No irregular categories.
TUtrain['Permanent Country'].unique()

0

array(['United States', 'Jamaica', 'Costa Rica', 'China', 'Vietnam',
       'Nicaragua', 'Spain', 'India', 'Luxembourg', 'Nepal', 'Ecuador',
       'Honduras', 'Cameroon', 'Mexico', 'Canada', 'Singapore',
       'Bangladesh', 'Pakistan', 'United Arab Emirates', 'Uzbekistan',
       'France', 'Thailand', 'Venezuela', 'Hong Kong S.A.R.',
       'Switzerland', 'Tanzania', 'Brazil', 'El Salvador', 'Indonesia',
       'Mozambique', 'Turkey', 'Czech Republic', 'Taiwan', 'Japan',
       'South Korea', 'Colombia', "Cote D'Ivoire", 'Jordan', 'Kazakhstan',
       'Panama', 'Belgium', 'United Kingdom', 'Nigeria', 'Peru',
       'Lebanon', 'Cayman Islands', 'Guatemala', 'Argentina', 'Bolivia',
       'Italy', 'Poland', 'Trinidad and Tobago', 'New Zealand',
       'Ethiopia', 'Kenya', 'Montenegro', 'Germany', 'Saudi Arabia',
       'Philippines', 'Greece', 'Ireland', 'Georgia', 'Belize',
       'Netherlands', 'Palestine', 'Bosnia and Herzegovina', 'Cyprus',
       'Norway', 'Russia', 'Barbados', 'Kuwait', 'Uruguay', 'Morocco',
       'Ghana', 'The Bahamas', 'South Africa', 'Paraguay', 'Cambodia',
       'Malaysia', 'Dominica', 'Iran', 'Lithuania'], dtype=object)

In [237]:
# List of countries that are unique to the train set
MissingInTest = [
    'Barbados', 'Dominica', 'Palestine', 'Poland', 'Georgia', 'Venezuela', 'Italy', 
    'Czech Republic', 'Ireland', 'Cayman Islands', 'Cameroon', 'Malaysia', 'Iran', 
    'The Bahamas', 'New Zealand', 'Bosnia and Herzegovina', 'Paraguay', 'Lithuania', 
    'Trinidad and Tobago', 'Bangladesh', 'Luxembourg', 'Montenegro', 'Kenya', 
    "Cote D'Ivoire", 'Uzbekistan', 'Mozambique'
]

# Make all missing coutries into one category
TUtrain['Permanent Country'] = TUtrain['Permanent Country'].apply(
    lambda x: 'UniqueCountry' if x in MissingInTest else x
)

print(TUtrain['Permanent Country'].unique())

['United States' 'Jamaica' 'Costa Rica' 'China' 'Vietnam' 'Nicaragua'
 'Spain' 'India' 'UniqueCountry' 'Nepal' 'Ecuador' 'Honduras' 'Mexico'
 'Canada' 'Singapore' 'Pakistan' 'United Arab Emirates' 'France'
 'Thailand' 'Hong Kong S.A.R.' 'Switzerland' 'Tanzania' 'Brazil'
 'El Salvador' 'Indonesia' 'Turkey' 'Taiwan' 'Japan' 'South Korea'
 'Colombia' 'Jordan' 'Kazakhstan' 'Panama' 'Belgium' 'United Kingdom'
 'Nigeria' 'Peru' 'Lebanon' 'Guatemala' 'Argentina' 'Bolivia' 'Ethiopia'
 'Germany' 'Saudi Arabia' 'Philippines' 'Greece' 'Belize' 'Netherlands'
 'Cyprus' 'Norway' 'Russia' 'Kuwait' 'Uruguay' 'Morocco' 'Ghana'
 'South Africa' 'Cambodia']

In [238]:
#Column6 - Sex
print(TUtrain['Sex'].isna().sum())
#No NA.
print(TUtrain['Sex'].unique())
#No irregular categories.

0
['F' 'M']

In [239]:
#Column7 - Ethnicity
print(TUtrain['Ethnicity'].isna().sum())
#158 NAs.
print(TUtrain['Ethnicity'].unique())
#No irregular categories.
# It is fair to replace NAs with "Not Specified" as we do not have other columns for inter-field checking.

TUtrain['Ethnicity'].fillna("Not specified",inplace=True)
TUtrain['Ethnicity'].isna().sum()

158
['Non Hispanic/Latino' 'Hispanic/Latino' nan]

0

In [240]:
#Column8 - Race
print(TUtrain['Race'].isna().sum())
#389 NAs.
print(TUtrain['Race'].unique())

389
['White' 'Asian' 'Black or African American' 'Asian, White' nan
 'American Indian or Alaska Native, Black or African American, White'
 'Black or African American, White'
 'Asian, Black or African American, White'
 'American Indian or Alaska Native'
 'American Indian or Alaska Native, White'
 'American Indian or Alaska Native, Asian, White'
 'Asian, Black or African American' 'Native Hawaiian or Other Pacific'
 'Asian, Native Hawaiian or Other Pacific'
 'Native Hawaiian or Other Pacific, White'
 'Asian, Native Hawaiian or Other Pacific, White'
 'American Indian or Alaska Native, Black or African American'
 'American Indian or Alaska Native, Asian'
 'Black or African American, Native Hawaiian or Other Pacific'
 'American Indian or Alaska Native, Native Hawaiian or Other Pacific'
 'American Indian or Alaska Native, Asian, Black or African American, White']

In [241]:
#No irregular categories.
#Impute NAs with "Not specified", similar to what we do for Ethnicity.
TUtrain['Race'].fillna("Not specified", inplace=True)

In [242]:
#The current classification of Race is too detailed, which leads to very 
#low frequencies for some categories.Let's take a look at the value frequencies.
TUtrain['Race'].value_counts()

Race
White                                                                        6786
Asian                                                                        1640
Black or African American                                                     505
Not specified                                                                 389
Asian, White                                                                  300
Black or African American, White                                               99
American Indian or Alaska Native, White                                        96
American Indian or Alaska Native                                               84
Asian, Black or African American                                               17
Asian, Native Hawaiian or Other Pacific                                        15
Asian, Native Hawaiian or Other Pacific, White                                 14
Native Hawaiian or Other Pacific, White                                        13
Native Hawaiian or Other Pacific                                               12
American Indian or Alaska Native, Black or African American, White              9
American Indian or Alaska Native, Black or African American                     6
Asian, Black or African American, White                                         6
American Indian or Alaska Native, Asian, White                                  5
American Indian or Alaska Native, Asian                                         1
Black or African American, Native Hawaiian or Other Pacific                     1
American Indian or Alaska Native, Native Hawaiian or Other Pacific              1
American Indian or Alaska Native, Asian, Black or African American, White       1
Name: count, dtype: int64

In [243]:
#So let's combine some of the categories because a category with a small number of cases won't have 
#a significant effect on the target variable in the modeling stage.

#Generate a race list that would be kept, the rest will be classified as 'others'
RaceList = list(TUtrain['Race'].value_counts()[:7].index)
RaceList

['White',
 'Asian',
 'Black or African American',
 'Not specified',
 'Asian, White',
 'Black or African American, White',
 'American Indian or Alaska Native, White']

In [244]:
TUtrain['Race'] = \
TUtrain['Race'].apply(lambda x: 'Others' if x not in RaceList else x)
TUtrain['Race'].value_counts()

Race
White                                      6786
Asian                                      1640
Black or African American                   505
Not specified                               389
Asian, White                                300
Others                                      185
Black or African American, White             99
American Indian or Alaska Native, White      96
Name: count, dtype: int64

In [245]:
#Column 9 - Religion
# print # of NAs
print(TUtrain['Religion'].isnull().sum()) # 4177 null values

# print unique values for Religion
print(TUtrain.Religion.unique())

#Impute NAs with "Not specified", similar to what we do for Race.
TUtrain["Religion"] = TUtrain['Religion'].apply(lambda x: "Not specified" if pd.isnull(x) else x) #.apply iterates thru the dataframe, in this case replacing the nulls with "Not Specified"

#The current classification of Race is too detailed, which leads to very 
#low frequencies for some categories.Print the value frequencies.
print(TUtrain["Religion"].value_counts())

#Religion has lots of categories, with some categories having a very small number of cases. 
#Let's combine similar levels into one level( for example:['Bible Churches','Christian Reformed','Christian Scientist','Church of Christ','Church of God'] )
TUtrain['Religion'] = TUtrain.Religion.apply(lambda x: "OtherRelgiousAffiliation" if x in ['Pentecostal',
                                                      'Unitarian','Protestant','Mormon-Latter Day Saints',
                                                      'Evangelical','Assembly of God','Bible Churches',
                                                      'Christian Reformed', 'Christian Scientist',
                                                      'Church of Christ','Church of God', 'Southern Baptist', 
                                                      'United Methodist', 'United Church of Christ',
                                                      'Society of Friends (Quaker)',
                                                      'Presbyterian Church of America',
                                                      'Lutheran-Missourie Synod',"Jehovah's Witnesses",
                                                      'Coptic Church (Egypt)','Mennonite','Episcopal',
                                                      'Eastern Orthodox','Lutheran-Missouri Synod','Baha',
                                                      'Jewish Messianic','Zoroastrian',"Baha'I",'Jain','Sikh',
                                                      'Buddhism','Other'
                                                                                        
                                                                                        
                                                                                        ] else x)
#I combined all small christian denominations below   100 


#then combine levels with less than 100 cases into "Other" because a level accounting for lower than 1% 
#of training set is very unlikely to have a significant effect on the target variable.

print(TUtrain.Religion.value_counts())

4177
['Roman Catholic' nan 'Christian' 'Presbyterian' 'Islam/Muslim' 'Jewish'
 'Hindu' 'Baptist' 'Methodist' 'Jain' 'Anglican' 'Lutheran' 'Other'
 'Assembly of God' 'Non-Denominational' 'Bible Churches'
 'Christian Reformed' 'Unitarian' 'Eastern Orthodox' 'Episcopal'
 'United Methodist' 'Church of Christ' 'Pentecostal'
 'Lutheran-Missouri Synod' 'Protestant' 'Mormon-Latter Day Saints'
 'Buddhism' 'Sikh' 'Church of God' 'Presbyterian Church of America'
 'Evangelical' 'Southern Baptist' 'Society of Friends (Quaker)'
 'United Church of Christ' "Jehovah's Witnesses" 'Mennonite'
 'Christian Scientist' 'Jewish Messianic' "Baha'I" 'Coptic Church (Egypt)'
 'Zoroastrian']
Religion
Not specified                     4177
Roman Catholic                    1821
Christian                         1084
Baptist                            431
Methodist                          416
Presbyterian                       293
Hindu                              239
Jewish                             197
Other                              180
Anglican                           174
Lutheran                           173
Islam/Muslim                       162
Non-Denominational                 105
Church of Christ                    92
Buddhism                            72
Episcopal                           65
Eastern Orthodox                    56
Pentecostal                         51
Unitarian                           26
Protestant                          21
Mormon-Latter Day Saints            20
Evangelical                         18
Sikh                                17
Christian Reformed                  15
Jain                                12
Assembly of God                     10
United Church of Christ              9
United Methodist                     9
Bible Churches                       9
Southern Baptist                     8
Church of God                        6
Christian Scientist                  6
Society of Friends (Quaker)          5
Presbyterian Church of America       4
Lutheran-Missouri Synod              4
Jehovah's Witnesses                  3
Baha'I                               3
Coptic Church (Egypt)                3
Mennonite                            2
Jewish Messianic                     1
Zoroastrian                          1
Name: count, dtype: int64
Religion
Not specified               4177
Roman Catholic              1821
Christian                   1084
OtherRelgiousAffiliation     728
Baptist                      431
Methodist                    416
Presbyterian                 293
Hindu                        239
Jewish                       197
Anglican                     174
Lutheran                     173
Islam/Muslim                 162
Non-Denominational           105
Name: count, dtype: int64

In [246]:
#Column 10 - First_Source Origin First Source Date
print(TUtrain['First_Source Origin First Source Date'].isna().sum())
#No NAs.

#convert to date format
TUtrain['First_Source Origin First Source Date'] = pd.to_datetime(
    TUtrain['First_Source Origin First Source Date'], errors='coerce').fillna(pd.to_datetime('1900-01-01'))
# Display the converted column
print(TUtrain['First_Source Origin First Source Date'])

0
0      2016-11-18 05:40:00
1      2017-01-30 17:24:00
2      2019-01-31 12:35:00
3      1900-01-01 00:00:00
4      2018-02-19 11:11:00
               ...
9995   2018-02-16 16:31:00
9996   2017-01-30 17:24:00
9997   2018-06-12 14:53:00
9998   2017-01-30 17:24:00
9999   1900-01-01 00:00:00
Name: First_Source Origin First Source Date, Length: 10000, dtype: datetime64[ns]

In [247]:
#Column11 - Inquiry Date
print(TUtrain['Inquiry Date'].isna().sum())
#3181 NAs.

#convert to date format
TUtrain['Inquiry Date']= pd.to_datetime(TUtrain['Inquiry Date'], errors='coerce')

# Filling NaNs with a statement saying they did not inquire abount trinity admissions
TUtrain['Inquiry Date'].fillna("Did not Inquire", inplace=True)
TUtrain['Inquiry Date']

3181

0       2017-02-13 19:25:00
1           Did not Inquire
2           Did not Inquire
3       2016-10-18 15:49:00
4           Did not Inquire
               ...
9995        Did not Inquire
9996    2019-01-01 17:55:00
9997    2018-10-05 11:29:00
9998    2018-02-20 15:03:00
9999        Did not Inquire
Name: Inquiry Date, Length: 10000, dtype: object

In [248]:
#Column 12 - Submitted
print(TUtrain['Submitted'].isna().sum())
#No NAs.

#convert to date format
TUtrain['Submitted'] = pd.to_datetime(TUtrain['Submitted'], errors='ignore').fillna(pd.to_datetime('1900-01-01'))

0

In [249]:
# Column10-12
# After viewing Column10-12, it would be interesting to see
# whether the differences between submission date and First_Source date,
# and the differences between submission date and inquiry date, affect the response.
# So let's calculate the time difference between submission date and first_source date.

# Convert 'Submitted' and 'First_Source Origin First Source Date' to datetime, setting any missing values to '1900-01-01'
TUtrain['Submitted'] = pd.to_datetime(TUtrain['Submitted'], errors='coerce').fillna(pd.to_datetime('1900-01-01'))
TUtrain['First_Source Origin First Source Date'] = pd.to_datetime(TUtrain['First_Source Origin First Source Date'], errors='coerce').fillna(pd.to_datetime('1900-01-01'))

# Convert 'Inquiry Date' to datetime, setting any missing values to a placeholder date
# Add an indicator column to mark rows with no inquiry
TUtrain['Inquiry Date'] = pd.to_datetime(TUtrain['Inquiry Date'], errors='coerce').fillna(pd.to_datetime('1900-01-01'))
TUtrain['Inquiry Status'] = TUtrain['Inquiry Date'].apply(lambda x: "Did not Inquire" if x == pd.to_datetime('1900-01-01') else "Inquired")

# Calculate the time difference in weeks between 'Submitted' and 'First_Source Origin First Source Date'
TUtrain['Submit_FirstSource'] = (TUtrain['Submitted'] - TUtrain['First_Source Origin First Source Date']).dt.days / 7

# Calculate the time difference in weeks between 'Submitted' and 'Inquiry Date'
TUtrain['Submit_Inquiry'] = (TUtrain['Submitted'] - TUtrain['Inquiry Date']).dt.days / 7

# Optionally, round the calculated week differences to whole numbers
TUtrain['Submit_FirstSource'] = TUtrain['Submit_FirstSource'].round(0)
TUtrain['Submit_Inquiry'] = TUtrain['Submit_Inquiry'].round(0)

In [250]:
#There are NAs in Inquiry.Date,
#thus leading to NAs in Submit_Inquiry.
#Impute NAs in Submit_Inquiry with median values.

TUtrain['Submit_Inquiry'].fillna(TUtrain['Submit_Inquiry'].median(),inplace=True)
TUtrain['Submit_Inquiry'].isna().sum()

0

In [251]:
#Remove Column10-12 after you created new variables above.  
TUtrain.drop('First_Source Origin First Source Date', axis='columns', inplace=True)
TUtrain.drop('Inquiry Date', axis='columns', inplace=True)
TUtrain.drop('Submitted', axis='columns', inplace=True)
TUtrain.drop("Inquiry Status", axis = 'columns', inplace = True)

In [252]:
#Column13 - Application.Source
print( TUtrain['Application Source'].isna().sum())
#No NAs.
print(TUtrain['Application Source'].unique())
#No irregular categories.

0
['CommonApp' 'ApplyTexas' 'Coalition' 'Select Scholar']

In [253]:
#Column14 - Decision.Plan
print(TUtrain['Decision Plan'].isna().sum())
#No NAs.
print(TUtrain['Decision Plan'].unique())
#No irregular categories.

0
['Early Action II' 'Early Action I' 'Early Action' 'Regular Decision'
 'Early Decision I' 'Early Decision II']

In [254]:
#Column15 - Staff.Assigned.Name
#Based on variable description, this variable might not be useful and provide
#insightful information in the modeling.
#Also, some staffs already left Trinity.
#So remove this variable
TUtrain.drop(['Staff Assigned Name'], axis='columns', inplace=True)

In [255]:
#Column16 - Legacy
print(TUtrain['Legacy'].isna().sum())
#No NAs.
print(TUtrain['Legacy'].unique())
#No irregular categories.
#Impute NAs with "No Legacy"
TUtrain['Legacy'].fillna("No Legacy",inplace=True)
TUtrain['Legacy'].isna().sum()

#Legacy has many options, leading some options to having only a small number of cases.
#Let's group all the options into 3 categories ('Legacy',"No Legacy", "Legacy, Opt Out") 
#so that each category has the chance to affect the response variable.
TUtrain['Legacy']=\
TUtrain['Legacy'].apply(lambda x: 'Legacy, Opt Out' if x not in ['Legacy','No Legacy'] else x)

8999
[nan 'Legacy' 'Legacy, Opt Out' 'Fine Arts, Legacy' 'Athlete, Legacy'
 'Fine Arts, Legacy, VIP' 'Legacy, VIP' 'Athlete, Legacy, VIP'
 'Athlete, Legacy, Opt Out' 'Legacy, Opt Out, VIP'
 'Fine Arts, Legacy, Opt Out' 'Athlete, Legacy, Opt Out, VIP'
 'Athlete, Fine Arts, Legacy' 'Fine Arts, Legacy, Opt Out, VIP'
 'Athlete, Fine Arts, Legacy, VIP'
 'Athlete, Fine Arts, Legacy, Opt Out, VIP']

In [256]:
#Column17 - Athlete
# print # NAs.
print(TUtrain['Athlete'].isnull().sum()) #checking for NAs / sum, 8683 null values

# print unique value counts.
print(TUtrain['Athlete'].value_counts()) #unique value counts returning amount of groups

#Impute NAs with "Non-Athlete"
TUtrain['Athlete'] = TUtrain.Athlete.apply(lambda x: "Non-Athlete" if pd.isnull(x) else x) 
#.apply() lambda x returning "Non-Athlete" for any null value 

#Similar to Legacy, Athlete has many categories with a few cases.
#Group all options into three categories: 
#Athlete, Non-Athlete, and Athlete, Opt Out.

TUtrain['Athlete'] = \
TUtrain.Athlete.apply(lambda x: "Athlete, Opt Out" if x in ["Athlete, Opt Out", "Athlete, Legacy, Opt Out", "Athlete, Legacy, Opt Out, VIP","Athlete, Opt Out, VIP","Athlete, Fine Arts, Opt Out","Athlete, Fine Arts, Legacy, Opt Out, VIP"] else x) 
#grouping variables into one group called Athlete Opt Out
# Done by checking if x is in the specified list

TUtrain['Athlete'] = \
TUtrain.Athlete.apply(lambda x: "Athlete" if x not in ["Non-Athlete","Athlete, Opt Out"] else x) 
#this is grouping items into an Athlete group if they are NOT in these non athlete or opt out groups

8683
Athlete
Athlete                                     831
Athlete, Opt Out                            338
Athlete, Legacy                              58
Athlete, Legacy, Opt Out                     30
Athlete, VIP                                 17
Athlete, Fine Arts                           15
Athlete, Legacy, VIP                         11
Athlete, Legacy, Opt Out, VIP                 8
Athlete, Opt Out, VIP                         4
Athlete, Fine Arts, Opt Out                   2
Athlete, Fine Arts, Legacy                    1
Athlete, Fine Arts, Legacy, VIP               1
Athlete, Fine Arts, Legacy, Opt Out, VIP      1
Name: count, dtype: int64

In [257]:
print(TUtrain['Athlete'].value_counts()) 
# Just checking to see the cleaning was successful

Athlete
Non-Athlete         8683
Athlete              934
Athlete, Opt Out     383
Name: count, dtype: int64

In [258]:
# Print NAs
print(TUtrain['Sport 1 Sport'].isnull().sum())  # 8683 null values

# Print unique value counts
print(TUtrain['Sport 1 Sport'].value_counts())  # Displays the unique sport counts

# Impute NAs with "No Sport"
TUtrain['Sport 1 Sport'] = TUtrain['Sport 1 Sport'].fillna("No Sport")

# Remove gender-specific suffixes from sport names (e.g., "Men", "Women")
# Create a mapping to remove gender-based distinctions
gender_removal_map = {
    "Football Men": "Football", 
    "Football Women": "Football",
    "Baseball Men": "Baseball", 
    "Baseball Women": "Baseball",
    "Cross Country Men": "Cross Country", 
    "Cross Country Women": "Cross Country",
    "Soccer Men": "Soccer", 
    "Soccer Women": "Soccer",
    "Track Men": "Track", 
    "Track Women": "Track",
    "Basketball Men": "Basketball", 
    "Basketball Women": "Basketball",
    "Swimming Men": "Swimming", 
    "Swimming Women": "Swimming",
    "Tennis Men": "Tennis", 
    "Tennis Women": "Tennis",
    "Golf Men": "Golf", 
    "Golf Women": "Golf",
    "Diving Men": "Diving", 
    "Diving Women": "Diving",
    "Softball": "Softball",
    "Volleyball": "Volleyball"
}

# Apply the gender_removal_map to group the sports
TUtrain['Sport 1 Sport'] = TUtrain['Sport 1 Sport'].map(gender_removal_map).fillna(TUtrain['Sport 1 Sport'])

# Now the 'Sport 1 Sport' column should only contain the sport names without gender distinctions
print(TUtrain['Sport 1 Sport'].value_counts())  # Check updated value counts

8683
Sport 1 Sport
Football               329
Baseball               109
Cross Country Men       97
Soccer Men              95
Track Women             82
Track Men               81
Basketball Men          81
Cross Country Women     68
Swimming Men            66
Soccer Women            60
Swimming Women          51
Tennis Men              35
Tennis Women            31
Softball                29
Volleyball              26
Basketball Women        21
Golf Women              19
Golf Men                15
Diving Women            14
Diving Men               8
Name: count, dtype: int64
Sport 1 Sport
No Sport         8683
Football          329
Cross Country     165
Track             163
Soccer            155
Swimming          117
Baseball          109
Basketball        102
Tennis             66
Golf               34
Softball           29
Volleyball         26
Diving             22
Name: count, dtype: int64

In [259]:
#Column18 - Sport 1 Sport

# print # NAs.
print(TUtrain['Sport 1 Sport'].isnull().sum()) #8683 null values

# print unique value counts.
print(TUtrain['Sport 1 Sport'].value_counts()) 
# value counts shows there are 20 different groups, 2 of which have over 100 observations

#Impute NAs with "No Sport"
TUtrain['Sport 1 Sport'] = TUtrain['Sport 1 Sport'].apply(lambda x: "No Sport" if pd.isnull(x) else x) 

#Group sport men and sport women into one group
#so that each group has sufficient cases to have an impact on the response.
TUtrain['Sport 1 Sport'] = TUtrain['Sport 1 Sport'].apply(lambda x: "Sport" if x in 
                                                          ["Football", "Baseball", "Cross Country Men", 
                                                           "Soccer Men", "Track Men", "Basketball Men", 
                                                           "Swimming Men", "Tennis Men", "Golf Men", 
                                                           "Diving Men", "Track Women","Cross Country Women",
                                                           "Soccer Women","Swimming Women","Tennis Women",
                                                           "Softball","Volleyball","Basketball Women",
                                                           "Golf Women","Diving Women"] else x ) 
# Making it into two easily defined groups

0
Sport 1 Sport
No Sport         8683
Football          329
Cross Country     165
Track             163
Soccer            155
Swimming          117
Baseball          109
Basketball        102
Tennis             66
Golf               34
Softball           29
Volleyball         26
Diving             22
Name: count, dtype: int64

In [260]:
print(TUtrain['Sport 1 Sport'].value_counts()) 
# Checking to see if it worked

Sport 1 Sport
No Sport         8683
Sport             493
Cross Country     165
Track             163
Soccer            155
Swimming          117
Basketball        102
Tennis             66
Golf               34
Diving             22
Name: count, dtype: int64

In [261]:
#Column19 - Sport 1 Rating
# print # NAs.
print(TUtrain['Sport 1 Rating'].isnull().sum()) # 8683 null values

# print unique value counts.
print(TUtrain['Sport 1 Rating'].value_counts()) # found 3 different groups all 250 observations of each other

#Impute NAs with "No Sport"
TUtrain['Sport 1 Rating'] = TUtrain["Sport 1 Rating"].apply(lambda x: "No Sport" if pd.isna(x) else x)
# Just as before, I used the .apply function to replace any null values found thru pd.isna() function, 
# in this case with the value "No Sport"

8683
Sport 1 Rating
Blue Chip    551
Varsity      439
Franchise    327
Name: count, dtype: int64

In [262]:
#Column20 - Sport 2 Sport

# print # NAs.
print(TUtrain['Sport 2 Sport'].isnull().sum()) #found 9583 null values using .isnull().sum()

# print unique value counts.
print(TUtrain['Sport 2 Sport'].value_counts()) 
# value counts shows 20 different unique groups where only 1 group has over 125 observations

#impute NAs with "No 2ndSport".
TUtrain['Sport 2 Sport'] = TUtrain["Sport 2 Sport"].apply(lambda x: "No 2ndSport" if pd.isna(x) else x) 
#used the .apply function to replace any null values found thru pd.isna() function with the string "No 2ndSport"

#The number of cases for each sport type is very small (< about 1% of the data set).
#It's better to group all options into 2 categories: 2ndSport vs. No 2ndSport.
TUtrain['Sport 2 Sport'] = TUtrain["Sport 2 Sport"].apply(lambda x: "2nd Sport" if x not in ["No 2ndSport"] else x) 
#grouped  anything that was not found in "No 2ndSport" into a new group called "2nd Sport" using .apply()

9583
Sport 2 Sport
Track & Field          125
Basketball              54
Soccer                  43
Baseball                40
Football                29
Cross Country           23
Swimming                23
Volleyball              15
Tennis                  14
Track Men               13
Golf                     9
Diving                   6
Softball                 5
Track Women              4
Basketball Men           3
Soccer Women             3
Cross Country Women      3
Tennis Women             2
Cross Country Men        2
Soccer Men               1
Name: count, dtype: int64

In [263]:
print(TUtrain['Sport 2 Sport'].value_counts()) 
# Verifying code worked

Sport 2 Sport
No 2ndSport    9583
2nd Sport       417
Name: count, dtype: int64

In [264]:
#Column21 - Sport 2 Rating
print(TUtrain['Sport 2 Rating'].isna().sum())
#9957 NAs.
print(TUtrain['Sport 2 Rating'].unique())
#Only 43 out of 10000 observations are rated, which is less than 0.5% of the data set!
#Sport.2.Rating will not have much impact on the target.
#Remove it in the modeling stage.

TUtrain.drop('Sport 2 Rating',axis='columns', inplace=True)

9957
[nan 'Blue Chip' 'Varsity' 'Franchise']

In [265]:
#Column22 - Sport 3 Sport

# print # NAs.
print(TUtrain['Sport 3 Sport'].isna().sum()) #9838 null values found with .isna().sum()

# print unique value counts.
print(TUtrain['Sport 3 Sport'].value_counts())#value counts found 12 different unique values all having under 41 observations

#impute NAs with "No 3rdSport".
TUtrain['Sport 3 Sport'] = TUtrain["Sport 3 Sport"].apply(lambda x: "No 3rdSport" if pd.isna(x) else x) 
#used the .apply function to replace any null values found thru pd.isna() function with the string "No 3rdSport"

#The number of cases for each sport type is very small (< 0.5% of the data set).
#It's better to group all options into 2 categories: 3rdSport vs. No 3rdSport.
TUtrain['Sport 3 Sport'] = TUtrain["Sport 3 Sport"].apply(lambda x: "3rdSport" if x not in ["No 3rdSport"] else x) 
# Same technique as before but the replacing value is 3rdSport

9838
Sport 3 Sport
Basketball       40
Track & Field    29
Swimming         15
Cross Country    15
Soccer           14
Baseball         13
Football         12
Tennis           12
Volleyball        6
Golf              3
Softball          2
Track Men         1
Name: count, dtype: int64

In [266]:
print(TUtrain['Sport 3 Sport'].value_counts())#value counts found 12 different unique values all having under 41 observations
# Verifying the code worked

Sport 3 Sport
No 3rdSport    9838
3rdSport        162
Name: count, dtype: int64

In [267]:
#Column23 - Sport.3.Rating

print(TUtrain['Sport 3 Rating'].isna().sum())
#9998 NAs.
print(TUtrain['Sport 3 Rating'].unique())
#No questionable category.
#Only 2 out of 10000 observations are rated, which will not provide much insightful
#information. Therefore,remove this column
TUtrain.drop('Sport 3 Rating',axis='columns', inplace=True)

9998
[nan 'Varsity']

In [268]:
#Column24 - Academic Interest 1
print(TUtrain['Academic Interest 1'].isna().sum())
#1 NAs.
print(TUtrain['Academic Interest 1'].unique())

4
['Biology' 'Engineering Science' 'Psychology' 'Neuroscience'
 'Computer Science' 'English' 'Mathematics' 'Education' 'Music'
 'Undecided' 'Business' 'Geosciences' 'Pre-Law' 'Biochemistry' 'Finance'
 'Pre-Medical' 'Political Science' 'Business - Communication Management'
 'Economics' 'Business - Accounting' 'Entrepreneurship' 'Sociology'
 'Environmental Studies' 'Chemistry' 'Mathematical Finance'
 'Business - Sport Management' 'History' 'International Studies'
 'Biochemistry & Molecular Biology' 'Business - Management'
 'Communication' 'Anthropology' 'Business - Marketing' 'Linguistics'
 'Philosophy' 'Business - International Business'
 'Business Analytics & Technology' 'Art' 'French'
 'Business - Management Information Systems' 'Physics' 'Urban Studies'
 'Chinese' 'Nursing' 'Business Legal Studies' 'Human Communication'
 'Comparative Literature' 'Creative Writing'
 'Ancient Mediterranean Studies' 'Art History' 'Architectural Studies'
 'Film Studies' 'Theatre' 'Music Education' 'Pre-Dental' 'Religion'
 'Classical Languages' 'Applied Chemistry' 'Music Composition'
 'Architecture' 'Choral Music' 'New Media' 'Astronomy' 'Pharmacy'
 'African American Studies' 'East Asian Studies' nan 'Latin'
 'Cognitive Science' "Women's & Gender Studies" 'Pre-Veterinary' 'Spanish'
 'Instrumental Music' 'German' 'Russian' 'Biomathematics' 'Agriculture'
 'Foreign Languages' 'Art and Art History']

In [269]:
# Step1: Most of the NAs for Academic.Interest.1 have a value for Academic.Interest.2
#We may assign the corresponding values in Academic.Interest.2 
#to NAs in Academic.Interest.1 if Academic.Interest.2 has a value.

# When update values in a subset of dataframes, 
# Try using .loc[row_indexer,col_indexer] = value instead to avoid chained indexing issue

for i,row in TUtrain.iterrows():
    if pd.isna(row['Academic Interest 1']):
        print(i,row['Academic Interest 1'],row['Academic Interest 2'])
        TUtrain.loc[i,'Academic Interest 1']=TUtrain.loc[i,'Academic Interest 2']

2624 nan nan
3869 nan Business - Management
6370 nan Computer Science
7877 nan Business - Management Information Systems

In [270]:
# Step2:For the remaining NAs in Academic.Interest.1, assign Undecided.
TUtrain['Academic Interest 1'].fillna('Undecided',inplace=True)
TUtrain['Academic Interest 1'].unique()

array(['Biology', 'Engineering Science', 'Psychology', 'Neuroscience',
       'Computer Science', 'English', 'Mathematics', 'Education', 'Music',
       'Undecided', 'Business', 'Geosciences', 'Pre-Law', 'Biochemistry',
       'Finance', 'Pre-Medical', 'Political Science',
       'Business - Communication Management', 'Economics',
       'Business - Accounting', 'Entrepreneurship', 'Sociology',
       'Environmental Studies', 'Chemistry', 'Mathematical Finance',
       'Business - Sport Management', 'History', 'International Studies',
       'Biochemistry & Molecular Biology', 'Business - Management',
       'Communication', 'Anthropology', 'Business - Marketing',
       'Linguistics', 'Philosophy', 'Business - International Business',
       'Business Analytics & Technology', 'Art', 'French',
       'Business - Management Information Systems', 'Physics',
       'Urban Studies', 'Chinese', 'Nursing', 'Business Legal Studies',
       'Human Communication', 'Comparative Literature',
       'Creative Writing', 'Ancient Mediterranean Studies', 'Art History',
       'Architectural Studies', 'Film Studies', 'Theatre',
       'Music Education', 'Pre-Dental', 'Religion', 'Classical Languages',
       'Applied Chemistry', 'Music Composition', 'Architecture',
       'Choral Music', 'New Media', 'Astronomy', 'Pharmacy',
       'African American Studies', 'East Asian Studies', 'Latin',
       'Cognitive Science', "Women's & Gender Studies", 'Pre-Veterinary',
       'Spanish', 'Instrumental Music', 'German', 'Russian',
       'Biomathematics', 'Agriculture', 'Foreign Languages',
       'Art and Art History'], dtype=object)

In [271]:
#  Step3:Group Business related options into "Business".
TUtrain['Academic Interest 1'] = \
TUtrain['Academic Interest 1'].apply(lambda x: 'Business' if x in['Finance','Entrepreneurship'] else x)

#Group options with a low number of cases (< 100 cases) into "Others".
Majorlist=list(TUtrain['Academic Interest 1'].value_counts()[:27].index)
TUtrain['Academic Interest 1'] = \
TUtrain['Academic Interest 1'].apply(lambda x: 'Others' if x not in Majorlist else x)
TUtrain['Academic Interest 1'].value_counts()

Academic Interest 1
Pre-Medical                            1064
Biology                                 881
Business                                871
Engineering Science                     850
Others                                  811
Computer Science                        597
Psychology                              542
Political Science                       425
Undecided                               412
Neuroscience                            382
Biochemistry & Molecular Biology        290
Economics                               244
Business - Management                   209
International Studies                   208
Biochemistry                            203
Business - Marketing                    192
Business - Accounting                   186
Mathematics                             180
English                                 177
Chemistry                               171
Environmental Studies                   168
Pre-Law                                 163
Business - International Business       144
Physics                                 144
History                                 142
Communication                           116
Education                               115
Business - Communication Management     113
Name: count, dtype: int64

In [272]:
#Column25 - Academic.Interest.2#Column25 - Academic.Interest.2

#Check NAs
print(  TUtrain['Academic Interest 2'].isna().sum())
#94 NAs.

#Replace repeated academic interests with Undecided, 
#then make NAs Undecided
TUtrain['Academic Interest 2'].fillna('Undecided')

#Group Business related options into "Business".
TUtrain['Academic Interest 2'] = \
TUtrain['Academic Interest 2'].apply(lambda x: 'Business' if x in['Finance','Entrepreneurship'] else x)


#Group options with a low number of cases (< 100 cases) into "Others".
Majorlist=list(TUtrain['Academic Interest 2'].value_counts()[:27].index)
TUtrain['Academic Interest 2']= \
TUtrain['Academic Interest 2'].apply(lambda x: 'Others' if x not in Majorlist else x)
TUtrain['Academic Interest 2'].value_counts()

# Additional line to replace 'Spanish' with 'Others' 
# (this is because Spanish is missing, necessary step for modeling)
TUtrain['Academic Interest 2'] = TUtrain['Academic Interest 2'].apply(
    lambda x: 'Others' if x == 'Spanish' else x
)

94

In [273]:
TUtrain['Academic Interest 2'].value_counts()
# Checking code worked

Academic Interest 2
Others                               1729
Business                              813
Biology                               770
Pre-Medical                           555
Psychology                            520
Biochemistry & Molecular Biology      395
Political Science                     395
Engineering Science                   362
Business - Management                 345
Economics                             341
Biochemistry                          340
Undecided                             317
Neuroscience                          315
Computer Science                      304
Mathematics                           294
Chemistry                             244
Business - Marketing                  242
Pre-Law                               233
Physics                               195
International Studies                 190
Environmental Studies                 188
English                               176
Business - International Business     167
Sociology                             154
History                               152
Education                             133
Business - Accounting                 131
Name: count, dtype: int64

In [274]:
#Column26 - First_Source Origin First Source Summary

# print # NAs.
print(TUtrain["First_Source Origin First Source Summary"].isnull().sum()) 
# No nulls

# print unique value counts.
print(TUtrain["First_Source Origin First Source Summary"].value_counts()) 

#Similar to Academic.Interest.2, group options with a low number of cases (< 100) into "Other Sources".
TUtrain['First_Source Origin First Source Summary']= \
TUtrain['First_Source Origin First Source Summary'].apply(lambda x: 'Other Sources' if x not in ["CBINQ","OAPP","PSAT","SRCH","VST","CF","WEBTU","CAPIQ","CAP","ACT","HSV","ATH","TIF","SIB","SATR","YUVST"] else x) 
# Same as before but for other sources

0
First_Source Origin First Source Summary
CBINQ    4664
OAPP     1014
PSAT      506
SRCH      484
VST       437
CF        365
WEBTU     333
CAPIQ     307
CAP       280
ACT       197
HSV       164
ATH       148
TIF       135
SIB       126
SATR      124
YUVST     119
OEVNT      98
ATHWB      70
NHI        51
HOBS       50
OTH        45
NICHE      35
APPTX      31
GRP        28
DOC        26
TVINT      21
EM         18
ALUM       17
SAT        15
CHEGG      15
TVOTH      15
WEBCA      15
ACTPL      12
CLNIQ       7
REF         5
AP          5
MPC         4
TFL         3
MAIL        2
CLNAP       2
DBT         1
RCPT        1
ATS         1
EXPL        1
LVCHT       1
HIGH        1
TEL         1
Name: count, dtype: int64

In [275]:
print(TUtrain["First_Source Origin First Source Summary"].value_counts()) 
# Seeing code worked

First_Source Origin First Source Summary
CBINQ            4664
OAPP             1014
Other Sources     597
PSAT              506
SRCH              484
VST               437
CF                365
WEBTU             333
CAPIQ             307
CAP               280
ACT               197
HSV               164
ATH               148
TIF               135
SIB               126
SATR              124
YUVST             119
Name: count, dtype: int64

In [276]:
#Column27 - Total Event Participation
print(TUtrain['Total Event Participation'].isna().sum())
#No NAs.
print(TUtrain['Total Event Participation'].unique())

#3, 4, 5 combined accounts for < 1% of the data set.
#Compared to the number of cases in 0, 1, and 2, the number of cases
#in 3, 4, and 5 won't be very useful in predicting the response.
#So group 3, 4, and 5 into "2 or more".

TUtrain['Total Event Participation']=\
TUtrain['Total Event Participation'].apply(lambda x: '2 or more' if x in[3,4,5] else x)
TUtrain['Total Event Participation'].unique()

0
[0 1 2 4 3]

array([0, 1, 2, '2 or more'], dtype=object)

In [277]:
#Column28 - Count of Campus Visits
TUtrain["Count of Campus Visits"] = TUtrain["Count of Campus Visits"].astype(str) 
# I turned the column into string values considering there were a low amount of groups in the column 
# and the grouping instructions in the next few lines. 

# print # NAs.
print(TUtrain["Count of Campus Visits"].isnull().sum()) 
# No nulls

# print unique value counts.
print(TUtrain["Count of Campus Visits"].value_counts()) 

# group 5, 6, and 8 into '4 or more'.
TUtrain["Count of Campus Visits"] = \
TUtrain["Count of Campus Visits"].apply(lambda x: '4 or more' if x in ["4","5", "6", "8"] else x) 
#combined groups 4 - 8 into one group called "4 or more" using .apply function

0
Count of Campus Visits
0    7172
1    2221
2     410
3     124
4      54
5      13
6       5
8       1
Name: count, dtype: int64

In [278]:
print(TUtrain["Count of Campus Visits"].value_counts()) 
# Checking code ran correctly

Count of Campus Visits
0            7172
1            2221
2             410
3             124
4 or more      73
Name: count, dtype: int64

In [279]:
#Column29 - School #1 Organization Category
print(TUtrain['School #1 Organization Category'].isna().sum())
#25  NAs.
print(TUtrain['School #1 Organization Category'].value_counts())
#Only 8 cases belong to College but 9967 cases belong to High School.
#Remove this variable.
TUtrain.drop('School #1 Organization Category', axis='columns', inplace=True)

25
School #1 Organization Category
High School    9967
College           8
Name: count, dtype: int64

In [280]:
#Column30 - School 1 Code
print(TUtrain['School 1 Code'].isna().sum())
#7842 NAs.
print(TUtrain['School 1 Code'].unique())
#School Code will not matter much to produce insightful information.
#Additionally, there are 7842 missing values.
#so remove this column in the modeling stage.
TUtrain.drop('School 1 Code', axis='columns', inplace=True)

7842
[    nan 441750. 390324. ...  53114. 446425.  51635.]

In [281]:
#Column31 - School 1 Class Rank (Numeric)
print(TU.loc[TU['train-test']=='train','School 1 Class Rank (Numeric)'].isna().sum())
#5357 NAs.

5357

In [282]:
# Column32 - School 1 Class Size (Numeric)

print(TUtrain['School 1 Class Size (Numeric)'].isna().sum())

#5357 NAs.
#Percentage rank can more accurately reflect a student's academic performance than numeric rank. 

#Create a New Column - School 1 Top Percent in Class

TUtrain['School 1 Top Percent in Class'] =\
100 *(TUtrain['School 1 Class Rank (Numeric)']/TUtrain['School 1 Class Size (Numeric)'])

TUtrain['School 1 Top Percent in Class'].isna().sum()

5357

5357

In [283]:
# #Impute the 5357 NAs based on Academic.Index column. 

# #Since we need to handle NAs in School 1 Top Percent in Class
# according to Academic.Index, first let's see whether Academic Index needs to be cleaned.
print(TUtrain['Academic Index'].isna().sum())
#829 NAs.
print(TUtrain['Academic Index'].value_counts())
#No questionable level.
#Impute 829 NAs with the most common level.
TUtrain['Academic Index'].fillna(3,inplace=True)
TUtrain['Academic Index'].unique()
#No missing values in Academic Index now.

527
Academic Index
3.0    3133
1.0    2534
2.0    2349
4.0    1235
5.0     222
Name: count, dtype: int64

array([3., 2., 4., 1., 5.])

In [284]:
#calculate school 1 top percent in class for each academic index group
grouped=TUtrain.groupby('Academic Index')
grouped
average=grouped.mean('School 1 Top Percent in Class')
average['School 1 Top Percent in Class']

Academic Index
1.0     4.614411
2.0     8.554908
3.0    16.109453
4.0    28.837494
5.0    33.106967
Name: School 1 Top Percent in Class, dtype: float64

In [285]:
#Impute missing values in 'School 1 Top Percent in Class' based on Academic Index group average
for i,row in TUtrain.iterrows():

    if (row['Academic Index']== 1.0) & (pd.isna(row['School 1 Top Percent in Class'])):
        TUtrain.loc[i,'School 1 Top Percent in Class']= average['School 1 Top Percent in Class'][1.0]
    elif (row['Academic Index']== 2.0) & (pd.isna(row['School 1 Top Percent in Class'])):
            TUtrain.loc[i,'School 1 Top Percent in Class']= average['School 1 Top Percent in Class'][2.0]
    elif (row['Academic Index']== 3.0) & (pd.isna(row['School 1 Top Percent in Class'])):
            TUtrain.loc[i,'School 1 Top Percent in Class']= average['School 1 Top Percent in Class'][3.0]
    elif (row['Academic Index']== 4.0) & (pd.isna(row['School 1 Top Percent in Class'])):
            TUtrain.loc[i,'School 1 Top Percent in Class']= average['School 1 Top Percent in Class'][4.0]
    elif (row['Academic Index']== 5.0) & (pd.isna(row['School 1 Top Percent in Class'])):
            TUtrain.loc[i,'School 1 Top Percent in Class']= average['School 1 Top Percent in Class'][5.0]
print(TUtrain['Academic Index'].isna().sum())

0

In [286]:
#Column33 - School 1 GPA

#Remove this variable in the modeling stage
#because School.1.GPA.Recalculated is more accurate.

TUtrain.drop('School 1 GPA', axis='columns', inplace=True)

In [287]:
#Column34 - School 1 GPA Scale
#Remove this variable in the modeling stage as it is irrelevant.

TUtrain.drop('School 1 GPA Scale', axis='columns', inplace=True)

In [288]:
#Column35 - School 1 GPA Recalculated

#Check NAs

print(TUtrain['School 1 GPA Recalculated'].isna().sum())
#0 NAs.

TUtrain['School 1 GPA Recalculated'].skew()
#Check skewness

# if the skewness score is below -1 or above 1, the variable is high skewed
#if the skewness score is positive, it means it is right tail skew
# if the skewness score is negative, it means it is left tail skew
#Since it is moderately skewed, and it is understandable for the left skewness as 
#a lot of students got into Trinity with a high GPA (almost 4.0), it is unnecessary to do transformation.
# Some modeling methods requires variables following a normal distribution, therefore you need to transform the skewed data
# before inputting it into the model, such as liner regression analysis.

0

-0.9276662923406366

In [289]:
#Column36 - School 2 Class Rank (Numeric)
#Check NAs
print(TUtrain['School 2 Class Rank (Numeric)'].isna().sum()) # 10000 null values 

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 2 Class Rank (Numeric)', axis='columns', inplace=True) 
#Dropping column as all cases are blank so we do not need the variable

10000

In [290]:
#Column37 - School 2 Class Size (Numeric)

#Check NAs
print(TUtrain['School 2 Class Size (Numeric)'].isna().sum())# 10000 null values 

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 2 Class Size (Numeric)', axis='columns', inplace=True)
# Same as the last one, all cases are blank. We do not need this variable.

10000

In [291]:
#Column38 - School 2 GPA

#Check NAs
print(TUtrain['School 2 GPA'].isna().sum())# 10000 null values 

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 2 GPA', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [292]:
#Column39 - School 2 GPA Scale
#Check NAs
print(TUtrain['School 2 GPA Scale'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 2 GPA Scale', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [293]:
#Column40 - School 2 GPA Recalculated
#Check NAs
print(TUtrain['School 2 GPA Recalculated'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 2 GPA Recalculated', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [294]:
#Column41 - School 3 Class Rank (Numeric)
#Check NAs
print(TUtrain['School 3 Class Rank (Numeric)'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 3 Class Rank (Numeric)', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [295]:
#Column42 - School 3 Class Size (Numeric)
#Check NAs
print(TUtrain['School 3 Class Size (Numeric)'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 3 Class Size (Numeric)', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [296]:
#Column43 - School 3 GPA
#Check NAs
print(TUtrain['School 3 GPA'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 3 GPA', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [297]:
#Column44 - School 3 GPA Scale
#Check NAs
print(TUtrain['School 3 GPA Scale'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 3 GPA Scale', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [298]:
#Column45 - School 3 GPA Recalculated
#Check NAs
print(TUtrain['School 3 GPA Recalculated'].isna().sum())# 10000 null values

#Should we keep or remove this variable. Justify your decision in comments.
TUtrain.drop('School 3 GPA Recalculated', axis='columns', inplace=True)
# Same as before, dropping column as we don't need it

10000

In [299]:
# Column46 ACT Composite

# print # NAs.
print(TUtrain["ACT Composite"].isna().sum())  # 4945 null values 

# print unique value counts.
print(TUtrain["ACT Composite"].value_counts()) 

# Replace missing ACT scores with SAT Concordance scores. 
# Convert 'SAT R Evidence-Based Reading and Writing Section + Math Section scores' into ACT based on the ACT-SAT concordance table pdf;

sat_to_act = {
    range(1570, 1601): 36,  # dictionary which corresponds to ACT concordance table
    range(1530, 1561): 35,
    range(1490, 1521): 34,
    range(1450, 1481): 33,
    range(1420, 1441): 32,
    range(1390, 1411): 31,
    range(1360, 1381): 30,
    range(1330, 1351): 29,
    range(1300, 1321): 28,
    range(1260, 1291): 27, 
    range(1230, 1251): 26,
    range(1200, 1221): 25,
    range(1160, 1191): 24,
    range(1130, 1151): 23,
    range(1100, 1121): 22,
    range(1060, 1091): 21,
    range(1030, 1051): 20,
    range(990, 1021): 19,
    range(960, 981): 18,
    range(920, 951): 17,
    range(880, 911): 16,
    range(830, 871): 15,
    range(780, 821): 14,
    range(730, 771): 13,
    range(690, 721): 12,
    range(650, 681): 11,
    range(620, 641): 10,
    range(590, 611): 9
}

def calcACT(sat): 
    if pd.isna(sat):  # Ensure no error for missing SAT values
        return None
    for score_range in sat_to_act.keys(): #Loops over SAT ranges dictionary, checks if score is in range. 
        if sat in score_range: # If score in range, 
            return sat_to_act[score_range] #return corresponding ACT score.
    return None  # If SAT score doesn't fit in any range, return None

# Apply the function to fill missing ACT scores using SAT values
TUtrain["ACT Composite"] = TUtrain.apply(
    lambda row: calcACT(row['SAT R Evidence-Based Reading and Writing Section + Math Section']) 
    if pd.isnull(row['ACT Composite']) else row['ACT Composite'], axis=1
)

# Check again for any missing ACT scores
print(TUtrain["ACT Composite"].isna().sum())  # Check how many NAs are left

# Replace any remaining missing ACT scores with the mean of the ACT Composite
TUtrain["ACT Composite"] = TUtrain["ACT Composite"].apply(
    lambda x: TUtrain["ACT Composite"].mean() if pd.isnull(x) else x
).round()

# Final check
print(TUtrain["ACT Composite"].isna().sum())

4945
ACT Composite
32.0    621
31.0    606
33.0    584
30.0    562
34.0    522
29.0    468
28.0    415
35.0    366
27.0    326
26.0    207
25.0    138
36.0     86
24.0     78
23.0     44
22.0     20
20.0      5
21.0      4
19.0      1
15.0      1
17.0      1
Name: count, dtype: int64
1169
0

In [300]:
# Group ACT scores with fewer than 10 occurrences into one category, 
# I can see that all the values below 21 ACT score have less than 10 observations so that is what I will
# call the category

# Check the current value counts for ACT Composite
act_counts = TUtrain["ACT Composite"].value_counts()

# Create a new column to categorize ACT scores
def group_rare_scores(act_score):
    if act_counts.get(act_score, 0) < 10:  # If the score appears fewer than 10 times
        return 'ACTBelow21'  # Group them into Below 21
    else:
        return act_score  # Otherwise, keep the original score

# Apply the function to create the new grouped categories
TUtrain["ACT Composite Grouped"] = TUtrain["ACT Composite"].apply(group_rare_scores)

# Check the distribution of the new categories
print(TUtrain["ACT Composite Grouped"].value_counts())

ACT Composite Grouped
30.0          2161
33.0           991
31.0           953
32.0           936
29.0           876
34.0           872
28.0           814
27.0           658
35.0           613
26.0           395
25.0           275
24.0           173
36.0           162
23.0            72
22.0            30
ACTBelow21      19
Name: count, dtype: int64

In [301]:
print(TUtrain["ACT Composite"].isna().sum()) #Nulls are gone

0

In [302]:
#Column47 ACT English

#Check NAs 
print(TUtrain["ACT English"].isna().sum())

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("ACT English", axis = 'columns', inplace = True)

5205

In [303]:
#Column48 ACT Reading
print(TUtrain["ACT Reading"].isna().sum()) # returned 5205 null values with .isna().sum()

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("ACT Reading", axis = 'columns', inplace = True)

5205

In [304]:
#Column50 ACT Math
print(TUtrain["ACT Math"].isna().sum()) #returned 5205 null values with .isna().sum()

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("ACT Math", axis = 'columns', inplace = True)

5205

In [305]:
#Column51 ACT Science Reasoning
print(TUtrain["ACT Science Reasoning"].isna().sum()) #returned 5205 null values with .isna().sum()

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("ACT Science Reasoning", axis = 'columns', inplace = True)

5205

In [306]:
#Column52 ACT Writing
print(TUtrain["ACT Writing"].isna().sum()) #returned 9830 null values with .isna().sum()

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("ACT Writing", axis = 'columns', inplace = True)

9830

In [307]:
#Column53 ACT SAT I CR + M
print(TUtrain["SAT I CR + M"].isna().sum()) #returned 9610 null values with .isna().sum()

# Since ACT Composite is already a good indicator for ACT scores generally,scores on each section will not matter much to make analyses.
#Remove this variable.
TUtrain.drop("SAT I CR + M", axis = 'columns', inplace = True)

9610

In [308]:
#Column54 SAT R Evidence-Based Reading and Writing Section + Math Section
# This column is used to generate ATC concordance scores.
# No further processing needed.

In [309]:
# Column55 Permanent Geomarket
# First, replace the missing values with the most frequent geo market value.
print(TUtrain["Permanent Geomarket"].value_counts()) # shows the most frequent geomarket area is TX 
print(TUtrain["Permanent Geomarket"].isna().sum()) # No nulls

# Second, group geomarket values into different regions. Refer to the region .csv for grouping.
unique_values = TUtrain["Permanent Geomarket"].unique()
print(unique_values)

# Define a single regions dictionary
dictRegions = {
    'West': ['AK', 'HI', 'WA', 'OR', 'CA', 'ID', 'NV', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM'],
    'Midwest': ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'MI', 'IN', 'OH'],
    'South': ['TX', 'OK', 'AR', 'LA', 'KY', 'TN', 'MS', 'AL', 'WV', 'MD', 'DE', 'DC', 'VA', 'NC', 'SC', 'GA', 'FL', 'US'],
    'Northeast': ['PA', 'NY', 'NJ', 'ME', 'VT', 'NH', 'MA', 'CT', 'RI'],
    'International': ['INT', 'PR']
}

# Function to categorize regions
def categorize_region(geomarket):
    # Clean the geomarket value (e.g., remove any suffix after '-')
    clean_geomarket = geomarket.split('-')[0]
    
    # Check in the regions dictionary
    for region, states in dictRegions.items():
        if clean_geomarket in states:
            return region
            
    return "Unknown"  # Default value if not found

# Apply the function to create a new column for region categorization
TUtrain['Permanent Geomarket'] = TUtrain['Permanent Geomarket'].apply(categorize_region)

print(TUtrain)

Permanent Geomarket
TX-06     1308
TX-16     1175
TX-15      596
TX-13      533
TX-23      343
          ...
INT-PL       1
MI-06        1
IN-01        1
US-MP        1
NY-18        1
Name: count, Length: 362, dtype: int64
0
['NM-01' 'TX-22' 'TX-15' 'WA-05' 'TX-06' 'TX-19' 'LA-01' 'PA-06' 'CO-02'
 'TX-16' 'WA-01' 'UT-01' 'TX-14' 'MA-10' 'TN-03' 'TX-13' 'FL-05' 'TX-07'
 'US-AE' 'MA-08' 'TX-20' 'TX-24' 'WV-02' 'TX-23' 'INT-JM' 'TX-10' 'GA-02'
 'FL-02' 'AL-03' 'CA-08' 'AZ-01' 'IL-12' 'INT-CS' 'INT-CH' 'INT-VM'
 'DE-02' 'TX-03' 'TX-18' 'IL-11' 'OK-02' 'IL-01' 'CA-10' 'INT-NU' 'NV-01'
 'CA-16' 'INT-SP' 'TX-01' 'FL-04' 'NM-02' 'NC-03' 'TX-08' 'KY-02' 'TX-02'
 'MO-02' 'NJ-06' 'TX-17' 'MO-03' 'INT-IN' 'TX-11' 'INT-LU' 'CT-03'
 'INT-NP' 'INT-EC' 'OR-02' 'CA-14' 'FL-01' 'CA-05' 'VA-03' 'MA-07'
 'INT-HO' 'NC-06' 'INT-CM' 'INT-MX' 'NE-02' 'TX-05' 'TN-04' 'PA-02'
 'TX-12' 'INT-CA' 'OR-03' 'TX-21' 'NY-27' 'NC-07' 'CA-28' 'NY-15' 'MD-06'
 'OH-01' 'OR-04' 'TX-04' 'MD-03' 'HI-01' 'LA-02' 'MN-01' 'INT-SN' 'TX-09'
 'LA-03' 'INT-BG' 'CT-04' 'OK-01' 'AZ-02' 'CA-29' 'CA-33' 'MD-02' 'CA-07'
 'INT-PK' 'ID-01' 'NH-03' 'ME-01' 'RI-01' 'CA-09' 'INT-AE' 'IL-08' 'OH-09'
 'WA-02' 'MI-02' 'OR-01' 'INT-UZ' 'MA-04' 'WA-04' 'CA-11' 'NJ-01' 'VT-01'
 'INT-FR' 'CA-13' 'NJ-08' 'WY-01' 'CA-20' 'MS-01' 'IA-01' 'CO-01' 'CO-03'
 'NY-10' 'MO-01' 'INT-TH' 'CA-27' 'NJ-07' 'KS-01' 'IL-09' 'OH-04' 'TN-02'
 'US-VI' 'CA-24' 'NY-09' 'NY-22' 'NJ-12' 'INT-VE' 'OR-06' 'INT-HK' 'CA-04'
 'NH-02' 'INT-SZ' 'INT-TZ' 'CA-02' 'INT-BR' 'WI-02' 'IL-04' 'IL-07'
 'CA-31' 'CA-26' 'CA-01' 'CA-30' 'KY-01' 'CA-06' 'INT-ES' 'FL-03' 'CA-23'
 'GA-07' 'OH-08' 'CA-12' 'AR-02' 'NY-08' 'KS-02' 'INT-ID' 'NC-01' 'GA-05'
 'INT-MZ' 'MI-01' 'GA-03' 'MI-05' 'VA-01' 'ND-01' 'MD-04' 'MI-04' 'INT-TU'
 'AR-01' 'GA-06' 'MA-11' 'VA-05' 'OH-07' 'PA-11' 'INT-EZ' 'INT-TW'
 'INT-JA' 'INT-KS' 'FL-06' 'SD-02' 'CA-21' 'CA-03' 'NJ-10' 'VA-02' 'VA-08'
 'SC-02' 'VA-09' 'SC-05' 'CA-18' 'AK-01' 'TN-01' 'NY-24' 'INT-CO' 'AL-01'
 'OH-06' 'MD-05' 'IN-07' 'NJ-04' 'INT-IV' 'PA-05' 'INT-JO' 'INT-KZ'
 'AZ-03' 'NY-29' 'MS-02' 'NY-04' 'INT-PM' 'NY-30' 'INT-BE' 'CA-17'
 'INT-UK' 'INT-NI' 'OH-05' 'INT-PE' 'INT-LE' 'MD-07' 'INT-CJ' 'NC-05'
 'INT-GT' 'IL-05' 'DC-01' 'NE-03' 'IL-06' 'IL-10' 'CT-02' 'CA-32' 'PA-10'
 'INT-AR' 'WA-06' 'PA-07' 'IN-09' 'US-GU' 'INT-BL' 'CT-05' 'WI-01' 'MI-07'
 'CT-01' 'PA-04' 'MA-09' 'IA-02' 'CA-34' 'INT-IT' 'NJ-02' 'CA-19' 'NJ-11'
 'SD-01' 'NY-20' 'MA-01' 'WY-02' 'NE-01' 'WA-03' 'US-MP' 'IN-01' 'MI-06'
 'CA-25' 'GA-08' 'NV-02' 'VA-06' 'IL-13' 'AL-02' 'NY-16' 'GA-01' 'INT-PL'
 'PA-12' 'ME-02' 'NY-02' 'NH-04' 'INT-TD' 'INT-NZ' 'IL-03' 'MT-02' 'NY-12'
 'INT-ET' 'SC-04' 'INT-KE' 'MD-01' 'NY-23' 'OR-05' 'PA-03' 'INT-MJ'
 'INT-GM' 'VA-10' 'INT-SA' 'PA-08' 'NY-17' 'FL-07' 'MA-05' 'MN-02'
 'INT-RP' 'IN-11' 'INT-GR' 'NH-01' 'NY-21' 'NY-05' 'CA-15' 'NJ-05' 'MA-03'
 'IN-06' 'MA-06' 'INT-EI' 'NY-14' 'INT-GG' 'DE-01' 'INT-BH' 'INT-NL'
 'HI-02' 'INT-WE' 'MT-01' 'INT-BK' 'VT-03' 'INT-CY' 'PA-13' 'INT-NO'
 'INT-RS' 'NY-06' 'OH-02' 'IN-10' 'INT-BB' 'US-AP' 'NC-04' 'CA-22' 'NY-19'
 'NJ-03' 'INT-KU' 'INT-UY' 'RI-02' 'INT-MO' 'INT-GH' 'AL-04' 'NY-25'
 'SC-03' 'INT-BF' 'PR-01' 'AK-02' 'INT-SF' 'INT-PA' 'INT-CB' 'INT-MY'
 'WV-01' 'INT-DO' 'NY-13' 'INT-IR' 'INT-LH' 'PA-01' 'ND-02' 'NY-18']
         ID train-test Entry Term (Application) Permanent Country Sex  \
0         1      train                Fall 2017     United States   F
1         2      train                Fall 2019     United States   M
2         3      train                Fall 2020     United States   F
3         4      train                Fall 2017     United States   F
4         5      train                Fall 2019     United States   M
...     ...        ...                      ...               ...  ..
9995   9996      train                Fall 2019     United States   M
9996   9997      train                Fall 2019     United States   M
9997   9998      train                Fall 2020     United States   F
9998   9999      train                Fall 2019     United States   F
9999  10000      train                Fall 2019     UniqueCountry   M

                Ethnicity                              Race  \
0     Non Hispanic/Latino                             White
1     Non Hispanic/Latino                             White
2         Hispanic/Latino                             White
3     Non Hispanic/Latino                             Asian
4     Non Hispanic/Latino                             White
...                   ...                               ...
9995  Non Hispanic/Latino  Black or African American, White
9996  Non Hispanic/Latino                             White
9997      Hispanic/Latino                             White
9998      Hispanic/Latino                            Others
9999  Non Hispanic/Latino                     Not specified

                      Religion Application Source     Decision Plan  ...  \
0               Roman Catholic          CommonApp   Early Action II  ...
1                Not specified          CommonApp    Early Action I  ...
2                    Christian         ApplyTexas      Early Action  ...
3                Not specified          CommonApp    Early Action I  ...
4                    Christian          CommonApp  Regular Decision  ...
...                        ...                ...               ...  ...
9995             Not specified          CommonApp    Early Action I  ...
9996             Not specified          CommonApp   Early Action II  ...
9997  OtherRelgiousAffiliation         ApplyTexas      Early Action  ...
9998                 Christian         ApplyTexas    Early Action I  ...
9999            Roman Catholic          CommonApp   Early Action II  ...

     SAT I Critical Reading SAT I Math SAT I Writing  \
0                       NaN        NaN           NaN
1                       NaN        NaN           NaN
2                       NaN        NaN           NaN
3                     750.0      770.0         700.0
4                       NaN        NaN           NaN
...                     ...        ...           ...
9995                    NaN        NaN           NaN
9996                    NaN        NaN           NaN
9997                    NaN        NaN           NaN
9998                    NaN        NaN           NaN
9999                    NaN        NaN           NaN

     SAT R Evidence-Based Reading and Writing Section SAT R Math Section  \
0                                                 NaN                NaN
1                                               660.0              720.0
2                                                 NaN                NaN
3                                                 NaN                NaN
4                                               650.0              700.0
...                                               ...                ...
9995                                              NaN                NaN
9996                                            690.0              790.0
9997                                            640.0              700.0
9998                                            710.0              690.0
9999                                            720.0              740.0

     Decision Submit_FirstSource Submit_Inquiry School 1 Top Percent in Class  \
0           1               -0.0          -13.0                     10.094637
1           0               89.0         6198.0                     13.878470
2           1               38.0         6251.0                     28.837494
3           0             6096.0            2.0                      4.112150
4           0               54.0         6218.0                     18.601583
...       ...                ...            ...                           ...
9995        0               37.0         6200.0                     28.837494
9996        0              102.0            2.0                     12.006319
9997        0               71.0           55.0                     11.041991
9998        0               79.0           24.0                      1.349073
9999        0             6209.0         6209.0                     16.109453

     ACT Composite Grouped
0                     30.0
1                     30.0
2                     29.0
3                     35.0
4                     29.0
...                    ...
9995                  30.0
9996                  33.0
9997                  27.0
9998                  29.0
9999                  33.0

[10000 rows x 45 columns]

In [310]:
unique_values = TUtrain["Permanent Geomarket"].unique()
print(unique_values)

['West' 'South' 'Northeast' 'International' 'Midwest']

In [209]:
#Column56 Citizenship Status

# This column is used for inter-field checking so keep it

In [210]:
#Column57 Academic Index

# This column is used for inter-field checking so keep it

In [211]:
#Column58 Intend to Apply for Financial Aid?
print(TUtrain["Intend to Apply for Financial Aid?"].isna().sum()) #return 18 null values
print(TUtrain["Intend to Apply for Financial Aid?"].value_counts()) # value counts shows two unique values

#Handling missing values. Justify your choice.
TUtrain["Intend to Apply for Financial Aid?"] = \
TUtrain["Intend to Apply for Financial Aid?"].apply(lambda x: 1 if pd.isna(x) else x )
# I decided to add all missing values to the 1 group (meaning receiving financial aid) because it is by far 
# the most frequent observation doubling the 0 group (not receiving any financial aid).

18
Intend to Apply for Financial Aid?
1.0    6744
0.0    3238
Name: count, dtype: int64

In [212]:
#Column59 Merit Award
print(TUtrain["Merit Award"].isna().sum()) # No null values
print(TUtrain["Merit Award"].value_counts()) 
#Refer to the Merit Award Code.csv for grouping. 
#Recategorize all the levels into fewer levels, Justify your grouping policy in comments

International = [
    'I10', 'I12','I12.5','I15','I17',
    'I18','I19','I20','I21','I24','I25',
    'I26','I27','I28','I30','I32','I33',
    'I35','I38','I5','I9','I40','I50',
    'I22', 'I52', 'I7.5', 'I43', 'I23','I45'
]

TUtrain['Merit Award'] = \
TUtrain['Merit Award'].apply(lambda x: 'International Student Scholarship' if x in International else x)
TUtrain['Merit Award'].value_counts()
# Grouped all international financial awards together as there are too many levels of scholarship. 
# These categories will be much easier to work with

0
Merit Award
P23      1131
T23       981
P17       903
T22       887
T21       848
T25       762
M30       596
M27       590
M26       547
M25       383
D18       377
D20       370
M24       334
P18       199
D12.5     139
Z0         94
TT10       76
TTS        71
I23        65
I25        62
I30        53
TT9        52
TT12       51
TT125      44
I18        43
I26        31
I22        30
I17        28
I21        27
I35        26
X0         23
I27        22
I24        22
I15        21
I20        21
SEM        15
I10        14
I12.5      12
I19         9
I28         8
I0          8
I32         7
I40         4
I9          4
I50         2
I38         2
Y0          1
I5          1
I52         1
I12         1
I7.5        1
I43         1
Name: count, dtype: int64

Merit Award
P23                                  1131
T23                                   981
P17                                   903
T22                                   887
T21                                   848
T25                                   762
M30                                   596
M27                                   590
M26                                   547
International Student Scholarship     518
M25                                   383
D18                                   377
D20                                   370
M24                                   334
P18                                   199
D12.5                                 139
Z0                                     94
TT10                                   76
TTS                                    71
TT9                                    52
TT12                                   51
TT125                                  44
X0                                     23
SEM                                    15
I0                                      8
Y0                                      1
Name: count, dtype: int64

In [213]:
DomesticMeritBased = [
    'D12.5','D18', 'D20','M24','M30', 'M27','M26',
    'M25', 'P17','P23','P18','TT9','T21',
    'T23','T22','T25', 'TT10','TT12','TT125'
]

TUtrain['Merit Award'] = \
TUtrain['Merit Award'].apply(lambda x: 'Domestic Merit-Based Scholarship' if x in DomesticMeritBased else x)
TUtrain['Merit Award'].value_counts()
# Grouped these into the Domestic Meritbased Scholarships as they are all domestic scholarships that have
# different kinds of standards and requirements

Merit Award
Domestic Merit-Based Scholarship     9270
International Student Scholarship     518
Z0                                     94
TTS                                    71
X0                                     23
SEM                                    15
I0                                      8
Y0                                      1
Name: count, dtype: int64

In [214]:
FullRide = [
    'SEM', 'TTS','X0', 'Y0'
]

TUtrain['Merit Award'] = \
TUtrain['Merit Award'].apply(lambda x: 'Full Ride' if x in FullRide else x)
TUtrain['Merit Award'].value_counts()
# Tuition exchange is basically a full scholarship so I grouped all of these into a full ride
# to show all students who have a full scholarship

Merit Award
Domestic Merit-Based Scholarship     9270
International Student Scholarship     518
Full Ride                             110
Z0                                     94
I0                                      8
Name: count, dtype: int64

In [215]:
NoMeritList = [
    'Z0', 'I0'
]

TUtrain['Merit Award'] = \
TUtrain['Merit Award'].apply(lambda x: 'No Merit Scholarship' if x in NoMeritList else x)
TUtrain['Merit Award'].value_counts()

# Because it is international no merit it makes more sense to say no merit than put them with international.
# Both these do not get any merit scholarship

Merit Award
Domestic Merit-Based Scholarship     9270
International Student Scholarship     518
Full Ride                             110
No Merit Scholarship                  102
Name: count, dtype: int64

In [216]:
#Column60 SAT Concordance Score (of SAT R)

#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT Concordance Score (of SAT R)", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [217]:
#Column61 ACT Concordance Score (of SAT R)
#Remove this variable.Justify why you remove it.
TUtrain.drop("ACT Concordance Score (of SAT R)", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [218]:
#Column62 ACT Concordance Score (of SAT)
#Remove this variable.Justify why you remove it.
TUtrain.drop("ACT Concordance Score (of SAT)", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [219]:
#Column63 Test Optional
#Remove this variable.Justify why you remove it.
TUtrain.drop("Test Optional", axis = 'columns', inplace = True)
# Nulls are now the mean for act and sat so it is not necessary to show test optional anymore

In [220]:
#Column64 SAT I Critical Reading
#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT I Critical Reading", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [221]:
#Column65 SAT I Math
#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT I Math", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [222]:
#Column66 SAT I Writing
#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT I Writing", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [223]:
#Column67 SAT R Evidence-Based Reading and Writing Section
#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT R Evidence-Based Reading and Writing Section", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [224]:
#Column68 SAT R Math Section
#Remove this variable.Justify why you remove it.
TUtrain.drop("SAT R Math Section", axis = 'columns', inplace = True)
# Because we have our ACT composite column and were able to transfer the SAT scores into the relative
# ACT score, this column is redundent and therefore needs to be dropped

In [225]:
#Column69 Decision

# This would be your dependent variable in the classification model so keep it.

In [226]:
# After you clean all variables, output the cleaned dataframe to a csv file
# the csv file can be found in your current working directory


TUtrain.to_csv('cleaneddftrain.csv')

In [227]:
# Compare the your table structure with the screenshot in the submission box
# Make sure all primary predictors and target variables do not have any missing values and only have
# regualr and correct values.

TUtrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 36 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   ID                                                               10000 non-null  int64
 1   train-test                                                       10000 non-null  object
 2   Entry Term (Application)                                         10000 non-null  object
 3   Permanent Country                                                10000 non-null  object
 4   Sex                                                              10000 non-null  object
 5   Ethnicity                                                        10000 non-null  object
 6   Race                                                             10000 non-null  object
 7   Religion                                                         10000 non-null  object
 8   Application Source                                               10000 non-null  object
 9   Decision Plan                                                    10000 non-null  object
 10  Legacy                                                           10000 non-null  object
 11  Athlete                                                          10000 non-null  object
 12  Sport 1 Sport                                                    10000 non-null  object
 13  Sport 1 Rating                                                   10000 non-null  object
 14  Sport 2 Sport                                                    10000 non-null  object
 15  Sport 3 Sport                                                    10000 non-null  object
 16  Academic Interest 1                                              10000 non-null  object
 17  Academic Interest 2                                              10000 non-null  object
 18  First_Source Origin First Source Summary                         10000 non-null  object
 19  Total Event Participation                                        10000 non-null  object
 20  Count of Campus Visits                                           10000 non-null  object
 21  School 1 Class Rank (Numeric)                                    4643 non-null   float64
 22  School 1 Class Size (Numeric)                                    4643 non-null   float64
 23  School 1 GPA Recalculated                                        10000 non-null  float64
 24  ACT Composite                                                    10000 non-null  float64
 25  SAT R Evidence-Based Reading and Writing Section + Math Section  5510 non-null   float64
 26  Permanent Geomarket                                              10000 non-null  object
 27  Citizenship Status                                               10000 non-null  object
 28  Academic Index                                                   10000 non-null  float64
 29  Intend to Apply for Financial Aid?                               10000 non-null  float64
 30  Merit Award                                                      10000 non-null  object
 31  Decision                                                         10000 non-null  int64
 32  Submit_FirstSource                                               10000 non-null  float64
 33  Submit_Inquiry                                                   10000 non-null  float64
 34  School 1 Top Percent in Class                                    10000 non-null  float64
 35  ACT Composite Grouped                                            10000 non-null  object
dtypes: float64(10), int64(2), object(24)
memory usage: 3.1+ MB